# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Python tool caches
.cache/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Temporary / logs
*.log

checkpoints/
datasets/
results_gen/